@import '../../styles/breakpoints.scss';

.analytics {
  flex-grow: 1;
  padding: 25px 15px;
  background-color: #eff3f6;

  @include for-medium-up {
    padding: 50px;
  }

  &__title {
    padding-bottom: 20px;
    border-bottom: 2px solid #99a2a6;
  }

  &__greeting {
    color: #344750;
  }

  &__subtitle {
    font-size: 14px;
    color: #99a2a6;
  }

  &__chart {
    padding: 10px;
    margin-top: 30px;
    background-color: #fff;
  }

  &__bottom-chart-container {
    display: flex;
    flex-wrap: wrap;

    @include for-medium-up {
      flex-wrap: nowrap;
    }
  }
}