@import '../../styles.scss';

.header {
  height: 50px;
  width: 100%;
  background-color: #e0e0e0;

  @include for-large-up {
    display: flex;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 250px;
    background-color: #0083e9;
  }
}