@import '../../styles/breakpoints.scss';

.chart-hours {
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: #344750;
  }

  &__subtitle {
    font-size: 14px;
    color: #99a2a6;
  }

  &__select-period {
    color: #344750;
    border: none;
    outline: none;
    background: #fff;
  }
}

.arrow_box {
  padding: 5px 10px;
  background: #4c5e70;
}